/*========================================*/
/*------------- [_Divider] ---------------*/
/*========================================*/
.text-divider {
	.large-text {
		font-size: 48px;
		line-height: 1.2;
		text-transform: uppercase;
	}
}
.left-infinite-img {
	animation: infiLeftRight 4s infinite;
}