/*========================================*/
/*------ [_Section_Single_Service] -------*/
/*========================================*/

.service-description .title {
  margin-bottom: 10px;
}
.service-sidebar-block .menu-sidebar-service-nav-menu-container,
.service-sidebar-block .menu-footer-service-nav-menu-container,
.service-sidebar-block .menu-footer-quick-links-container,
.service-sidebar-block .menu-social-links-container {
  background: var(--bg-silver);
  padding: 40px;
  @media screen and (max-width: 425px) {
    padding: 30px;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      a {
        display: block;
        color: var(--heading-font-color);
        padding: 15px 25px 15px 45px;
        @include transition(all 300ms ease-out 0s);
        position: relative;
        z-index: 1;
        background: var(--bg-white);
        margin-bottom: 10px;
        font-weight: 500;
        border-radius: 10px;
        &:after {
          content: "\e9e6";
          font-family: "webexbaseicon";
          font-weight: 500;
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-6px);
          font-size: 12px;
          line-height: 1;
        }
        &:before {
          content: "";
          width: 100%;
          left: 0;
          top: 50%;
          height: 0;
          position: absolute;
          transition: all 0.4s ease-out;
          z-index: -1;
          border-radius: 10px;
        }
        i {
          font-size: 13px;
          margin-right: 15px;
        }
        &:hover {
          color: var(--text-white);
          &:before {
            background-color: var(--webex-primary-color);
            height: 100%;
            top: 0;
          }
        }
      }
      &.current_page_item {
        a {
          color: var(--text-white);
          &:before {
            content: "";
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
            position: absolute;
            transition: all 0.4s ease-out;
            z-index: -1;
            background-color: var(--webex-primary-color);
          }
        }
      }
      &:last-child {
        a {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }
}

.service-section-title-area {
  background: var(--bg-blue-color);
  padding: 90px 0 240px;
  margin: 0 110px;
  margin-top: -180px;
}
.service-section-content {
  margin-top: -180px;
}
.service-features-icon {
  margin-right: 25px;
}
.service-features-icon span {
  background: var(--webex-primary-color);
  padding: 15px;
  display: inline-block;
}
.service-features-icon span:before {
  font-size: 42px;
  line-height: 42px;
  color: #fff;
}
