/*========================================*/
/*-------- [_Section_Single_News] --------*/
/*========================================*/
.news__details {
  padding-top: 150px;
  padding-bottom: 120px;
  @media screen and (max-width: 1200px) {
    padding-top: 120px;
  }
  .news__details-content {
    .news__details-post-thumbnail {
      position: relative;
      display: block;
      border-radius: 5px;
      img {
        max-width: 100%;
        margin-bottom: 26px;
        border-radius: 5px;
      }
    }
    .news__details-post-meta {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      margin-left: -5px;
      margin-right: -5px;
      margin-bottom: 20px;
      padding-left: 0;
      li {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 1.8rem;
        padding-left: 5px;
        padding-right: 10px;
        margin-bottom: 0;
        color: var(--theme-text-gray);
        a {
          color: var(--theme-text-gray);
          @include transition(all 500ms ease);
          i {
            color: var(--webex-primary-color);
            vertical-align: middle;
            margin-right: 5px;
          }
          &:hover {
            color: var(--webex-primary-color);
          }
        }
        i {
          color: var(--webex-primary-color);
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -4px;
        }
      }
    }
    .default__news-post-title {
      margin-bottom: 20px;
      font-size: 26px;
      a {
        @include transition(all 500ms ease);
        word-break: break-word;
        &:hover {
          color: var(--webex-primary-color);
        }
      }
    }
    .news-details__bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 30px 0 30px;
      margin-top: 55px;
      border-top: 1px solid var(--theme-border-color);
      border-bottom: 1px solid var(--theme-border-color);
      .news__details-cats,
      .news__details-tags {
        span {
          margin-right: 5px;
          color: var(--heading-font-color);
          font-weight: 500;
        }
        a {
          padding: 5px 15px;
          background: var(--widget-content-bg-color);
          font-size: 14px;
          color: var(--body-font-color);
          display: inline-block;
          margin-bottom: 10px;
          margin-left: 5px;
          border: 1px solid transparent;
          &:hover {
            background: var(--webex-primary-color);
            color: var(--text-webex-primary-color);
          }
        }
      }
      .news__details-cats {
        a {
          background: var(--webex-primary-color);
          color: var(--text-webex-primary-color);
          border: 1px solid transparent;
          &:hover {
            background: var(--bg-white);
            color: var(--webex-primary-color);
            border: 1px solid var(--webex-primary-color);
          }
        }
      }
    }
    .single-post-navigation {
      margin-top: 55px;
      .navigation-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
