/*=================================================*/
/*---------- [_Section_Single_Project] ------------*/
/*=================================================*/
.default__news-with-sidebar.project_archive_page {
  padding-bottom: 80px;
}
.default__news-with-sidebar.project_archive_page .pagination-list {
  margin-top: 30px;
  margin-bottom: 15px;
}
.project-info-block {
  .project-info-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    flex-direction: column;
    li {
      color: var(--text-light-gray);
      list-style: none;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px 0;
      flex-wrap: wrap;
      .title {
        display: block;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--heading-font);
        text-transform: capitalize;
        color: var(--heading-font-color);
        position: relative;
        min-width: 110px;
      }
      .description {
        color: var(--body-font-color);
      }
      a {
        color: var(--text-light-gray);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.project-post-navigation {
  position: relative;
  display: block;
  padding: 30px 0;
  border-top: 1px solid var(--theme-border-color);
  border-bottom: 1px solid var(--theme-border-color);
  margin-top: 60px;
  .navigation-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-btn {
      font-weight: 400;
      text-transform: uppercase;
      &:hover {
        i {
          background: var(--webex-primary-color);
          color: var(--text-webex-primary-color);
        }
      }
      i {
        font-weight: 600;
        height: 40px;
        width: 40px;
        background: var(--bg-silver);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        @include transition(all 300ms ease);
      }
    }
    .nav-next a i {
      margin-left: 8px;
    }
  }
}
