/*===== Start Button Style3 =====*/
.theme_btn_block_style3 {
  display: inline-flex;
  .btn_style3 {
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    background: var(--webex-primary-color2);
    color: var(--text-webex-primary-color2);
    font-family: var(--heading-font);
    border-radius: 30px;
    padding: 17px 48px 15px 48px;
    text-transform: uppercase;
    border: none;
    overflow: hidden;
    z-index: 1;
    @include transition(all 300ms ease-out 0s);
    &:hover {
      background-color: transparent;
      color: var(--text-webex-primary-color);
      &::after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      border-radius: 30px;
      background: var(--webex-primary-color);
      @include transition(all 300ms ease-out 0s);
      z-index: -1;
    }
  }
}
