/*===== Start Text Arrow Button =====*/
.nexsol_text_arrow_btn_block {
  .arrow_btn_style1 {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: var(--heading-font);
    color: #fff;
    .btn_text {
      margin-right: 5px;
    }
    i {
      color: var(--webex-primary-color);
    }
  }
}
