/*===== Start Button Circle =====*/
.nexsol_circle_btn_block {
  display: inline-flex;
  .circle_btn_item {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    height: 170px;
    width: 170px;
    font-weight: 400;
    font-family: var(--heading-font);
    color: var(--webex-primary-color);
    background: #fff;
    z-index: 3;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    .circle-btn-style1 {
      color: var(--webex-primary-color);
      font-family: var(--heading-font);
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0;
      i {
        color: var(--webex-primary-color);
        font-weight: bold;
        margin-left: 5px;
        position: relative;
        font-size: 12px;
        top: 1px;
      }
    }
    .circle_btn_dot {
      position: absolute;
      bottom: 0;
      left: 32px;
      width: 20px;
      height: 20px;
      background-color: var(--webex-primary-color);
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    &:hover {
      .circle-btn-style1 {
        color: var(--text-webex-primary-color);
        i {
          color: var(--text-webex-primary-color);
        }
      }
      .circle_btn_dot {
        width: 420px;
        height: 420px;
      }
    }
  }
  &.primary-color3 {
    .circle_btn_item {
      .circle-btn-style1 {
        color: var(--text-webex-primary-color3);
        i {
          color: var(--text-webex-primary-color3);
        }
      }
      .circle_btn_dot {
        background-color: var(--webex-primary-color3);
      }
    }
  }
  &.primary-color4 {
    .circle_btn_item {
      .circle-btn-style1 {
        color: var(--text-webex-primary-color4);
        i {
          color: var(--text-webex-primary-color4);
        }
      }
      .circle_btn_dot {
        background-color: var(--webex-primary-color4);
      }
    }
  }
}
