/*===== Start News Style1 =====*/
.news-item-style1 {
  position: relative;
  overflow: hidden;
  .news-thumb {
    position: relative;
    overflow: hidden;
    border-radius: var(--default-border-radius);
    img {
      width: 100%;
      border-radius: var(--default-border-radius);
      @include transition(all 400ms ease-out 0s);
    }
    .news-thumb-meta {
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 1;
      .post-categories {
        a {
          background: var(--webex-primary-color2);
          color: var(--text-webex-primary-color2);
          padding: 2px 16px;
          display: inline-block;
          margin-left: 5px;
          font-size: 14px;
          @include transition(all 0.4s ease-in-out);
          text-align: center;
          z-index: 1;
        }
      }
      .news-top-meta-thumb-date {
        position: relative;
        background: var(--webex-secondary-color);
        color: var(--text-webex-secondary-color);
        padding: 15px 20px 15px 20px;
        border-radius: 5px 0 0 5px;
        border-left: 2px solid var(--webex-primary-color);
        line-height: 1;
        @include transition(all 0.4s ease-in-out);
      }
    }
  }
  .news-description {
    padding-top: 30px;
    border-top: transparent;
    .news-top-meta {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 16px;
      gap: 5px;
      position: relative;
      z-index: 1;
      .post_meta {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      .post-author {
        .author-thumb {
          display: flex;
          align-items: center;
          span {
            a {
              color: var(--webex-primary-color);
              &:hover {
                color: var(--webex-primary-color);
              }
            }
          }
          .author-avatar {
            margin-right: 10px;
            img {
              width: 48px;
              border: 1px solid var(--webex-primary-color);
            }
          }
          .note {
            margin-right: 5px;
            @media screen and (max-width: 320px) {
              display: none;
            }
          }
        }
        .post-author-icon {
          margin-right: 8px;
          color: var(--webex-primary-color2);
        }
      }
      .post-date {
        color: var(--body-font-color);
        .entry-date {
          a {
            color: var(--body-font-color);
            i {
              color: var(--webex-primary-color2);
              margin-right: 5px;
            }
            &:hover {
              color: var(--webex-primary-color);
            }
          }
        }
      }
      .post-comments {
        .entry-comments {
          color: var(--body-font-color);
          i {
            color: var(--webex-primary-color2);
            margin-right: 5px;
          }
          &:hover {
            color: var(--webex-primary-color);
          }
        }
      }
    }
    .the-title {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: capitalize;
      position: relative;
      z-index: 1;
      a {
        &:hover {
          color: var(--webex-primary-color);
        }
      }
    }
    .post-excerpt {
      margin-top: 20px;
      position: relative;
      z-index: 1;
      p {
        margin-bottom: 0;
      }
    }
    .news-button {
      margin-top: 20px;
      padding-top: 20px;
      position: relative;
      z-index: 1;
      color: var(--text-dark);
      border-top: 1px solid var(--theme-border-color);
      .nexsol_btn {
        position: relative;
        display: inline-block;
        line-height: 1;
        color: var(--text-dark);
        &:hover {
          color: var(--text-dark);
          &:after {
            width: 100%;
          }
        }
        &:after {
          content: "";
          position: absolute;
          height: 2px;
          width: 0;
          background: var(--bg-dark);
          bottom: -4px;
          left: 0;
          @include transition(all 400ms ease-out 0s);
        }
      }
    }
  }
}
.updown-style-slide .news-block-wrapper.nexsol-slider-wrapper .owl-item:nth-child(odd) .news-item-style1 {
  margin-top: 70px;
  @media screen and (max-width: 1024px) {
    margin-top: 0;
  }
}
.updown-style-slide .news-block-wrapper.nexsol-slider-wrapper .owl-item:nth-child(odd) .news-item-style1 .news-thumb img {
  height: 355px;
  object-fit: cover;
  @media screen and (max-width: 1024px) {
    height: auto;
  }
}
.updown-style-grid .news-block-wrapper .news-item-style1:nth-child(odd) {
  margin-top: 60px;
  @media screen and (max-width: 1024px) {
    margin-top: 0;
  }
}
.updown-style-grid .news-block-wrapper .news-item-style1:nth-child(odd) .news-thumb img {
  height: 355px;
  object-fit: cover;
  @media screen and (max-width: 1024px) {
    height: auto;
  }
}
