/*===== Start Team Style1 =====*/
.team-block-style_1 {
  .team-upper-part {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(360deg, var(--webex-primary-color2), transparent);
      @include transition(all 0.3s ease-out 0s);
      opacity: 0;
    }
    img {
      @include transition(all 0.3s ease-out 0s);
      @include transform(scale(1));
      border-radius: 10px;
    }
    .team-social {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      background: var(--webex-primary-color);
      z-index: 1;
      @include transition(all 0.4s ease-out 0s);
      &:hover {
        .social-list {
          visibility: visible;
          opacity: 1;
          transform: scaleY(1);
        }
      }
      i {
        color: var(--text-webex-primary-color);
        font-size: 16px;
        font-weight: 200;
        line-height: 40px;
        margin: 0 auto;
        cursor: pointer;
      }
      .social-list {
        position: absolute;
        top: 45px;
        left: 0;
        min-height: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        overflow: hidden;
        @include transition(all 500ms ease);
        transform: scaleY(0);
        transform-origin: top center;
        li {
          display: block;
          margin: 5px 0 0 0;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            width: 40px;
            height: 40px;
            border-radius: 0;
            background-color: var(--bg-white);
            border-radius: 50%;
            i {
              color: var(--heading-font-color);
              font-size: 16px;
              margin: 0 auto;
            }
            &:hover {
              background-color: var(--webex-primary-color);
              i {
                color: var(--text-webex-primary-color);
              }
            }
          }
        }
      }
    }
    .team-bottom-part {
      position: absolute;
      overflow: hidden;
      bottom: 20px;
      left: 30px;
      transform: translateY(-30px);
      z-index: 1;
      opacity: 0;
      @include transition(all 0.3s ease-out 0s);
      .team-title {
        position: relative;
        margin-bottom: 5px;
        color: var(--text-webex-primary-color2);
        z-index: 1;
        line-height: 1;
        a {
          color: var(--text-webex-primary-color2);
          &:hover,
          &:focus {
            color: var(--webex-primary-color);
          }
        }
      }
      .team-designation {
        position: relative;
        margin-bottom: 0;
        font-size: 14px;
        color: var(--text-webex-primary-color2);
        font-weight: 600;
        line-height: 1;
        z-index: 1;
      }
    }
  }
  &:hover {
    .team-upper-part {
      &:after {
        opacity: 1;
      }
      img {
        @include transform(scale(1.08));
      }
      .team-bottom-part {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
