/*===== Start Team Style3 =====*/
.team-block-style_3 {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: var(--default-border-radius);
  @include transition(0.4s);
  .team-upper-part {
    @include transition(transform 0.3s ease);
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      border-radius: var(--default-border-radius);
      @include transition(all 0.6s ease-out 0s);
      @include transform(scale(1));
    }
    &:after {
      content: "";
      background: #0e252ee3;
      position: absolute;
      height: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      border-radius: var(--default-border-radius);
      @include transition(all 0.4s ease-out 0s);
    }
  }
  .team-hover-info {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    .team-title {
      position: relative;
      font-size: 24px;
      color: #fff;
      top: 10px;
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
      margin-bottom: 5px;
      a {
        color: #fff;
        &:hover,
        &:focus {
          color: var(--webex-primary-color);
        }
      }
    }
    .team-designation {
      position: relative;
      color: #a5a5a5;
      opacity: 0;
      transition: all 0.3s ease;
      top: 10px;
    }
  }
  .team-social-area {
    .social-list {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 100%;
      bottom: 20px;
      z-index: 9;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-bottom: 0;
      li {
        position: relative;
        font-size: 18px;
        color: #fff;
        margin: 0;
        opacity: 0;
        transition-property: all;
        transition-duration: 0.3s;
        transform: translateY(5px);
        &:nth-child(1) {
          transform: translateY(15px);
        }
        &:nth-child(2) {
          transform: translateY(15px);
        }
        &:nth-child(3) {
          transform: translateY(5px);
        }
        &:nth-child(3) {
          transform: translateY(15px);
        }
        &:last-child {
          margin-bottom: 0;
        }
        a {
          width: 42px;
          height: 42px;
          line-height: 42px;
          background-color: #00000036;
          i {
            color: #fff;
            font-size: 16px;
            margin: 0 auto;
          }
          &:hover {
            background-color: var(--webex-primary-color);
            i {
              color: var(--text-webex-primary-color);
            }
          }
        }
      }
    }
  }
  &:hover {
    .team-upper-part {
      transform: scale(1.1, 1.1);
      img {
        filter: grayscale(1);
        @include transform(scale(1.12) rotate(-2deg));
      }
      &:after {
        visibility: visible;
        opacity: 0.95;
        z-index: 9;
      }
    }
    .team-hover-info {
      .team-title {
        visibility: visible;
        opacity: 1;
        top: 0;
        transition-delay: 0.2s;
      }
      .team-designation {
        visibility: visible;
        opacity: 1;
        top: 0;
        transition-delay: 0.3s;
      }
    }
    .team-social-area {
      .social-list {
        li {
          opacity: 1;
          transform: translateY(0px);
          transition-delay: 0.15s;
          &:nth-child(1) {
            transform: translateY(0px);
            transition-delay: 0.2s;
          }
          &:nth-child(2) {
            transform: translateY(0px);
            transition-delay: 0.25s;
          }
          &:nth-child(3) {
            transform: translateY(0px);
            transition-delay: 0.3s;
          }
          &:nth-child(4) {
            transform: translateY(0px);
            transition-delay: 0.35s;
          }
        }
      }
    }
  }
}
