/*===== Start Working Steps Style2 =====*/
.working-step-wrapper {
  .working-steps-block-style_2 {
    &:last-child {
      .working-steps-inner {
        .progress-line {
          display: none;
        }
      }
    }
    .working-steps-inner {
      position: relative;
      padding: 0 0 0 6rem;
      @media screen and (max-width: 425px) {
        padding: 0 0 0 2rem;
      }
      .working-details {
        padding-bottom: 6rem;
        display: flex;
        gap: 30px;
        .working-icon {
          font-size: 48px;
          color: var(--heading-font-color);
          margin-top: 5px;
        }
        .working-content {
          .working-title {
            margin-top: 0;
            position: relative;
          }
          .working-description {
            position: relative;
            margin-bottom: 0;
          }
        }
        .working-steps-list {
          list-style: none;
          padding: 0;
          li {
            display: flex;
            margin-bottom: 10px;
            .step-list-icon {
              i {
                background: var(--webex-primary-color3);
                font-size: 12px;
                height: 20px;
                width: 20px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 5px 0 5px;
                box-shadow: 2px 2px 0 0 #000;
              }
            }
            .step-title {
              margin-left: 15px;
            }
          }
        }
      }
      .progress-line {
        position: absolute;
        left: 30px;
        top: 5px;
        bottom: 1.4rem;
        border-left: 2px dotted rgba(var(--webex-primary-color2-rgb), 0.3);
        @media screen and (max-width: 425px) {
          left: 0;
        }
        .v-line {
          width: 3px;
          top: 0;
          left: -2px;
          position: absolute;
          bottom: 0;
          height: 0;
          background: var(--webex-secondary-color);
        }
      }
    }
  }
}
