/*===== Start Working Steps Style1 =====*/
.working-step-wrapper {
  .working-steps-block-style_1 {
    &:last-child {
      .working-steps-inner {
        .progress-line {
          display: none;
        }
        .working-details {
          padding-bottom: 0;
        }
      }
    }
    .working-steps-inner {
      position: relative;
      padding: 0 0 0 6.5rem;
      @media screen and (max-width: 425px) {
        padding: 0 0 0 2.5rem;
      }
      .working-details {
        padding-bottom: 6rem;
        .working-count {
          position: absolute;
          left: 0px;
          top: 5px;
          font-size: 16px;
          font-weight: 400;
        }
        .working-title {
          margin-top: 0;
          position: relative;
        }
        .working-description {
          position: relative;
          margin-bottom: 0;
        }
        .working-steps-list {
          list-style: none;
          padding: 0;
          li {
            display: flex;
            margin-bottom: 10px;
            .step-list-icon {
              i {
                background: var(--webex-primary-color);
                color: var(--text-webex-primary-color);
                font-size: 12px;
                height: 20px;
                width: 20px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
              }
            }
            .step-title {
              margin-left: 15px;
            }
          }
        }
      }
      .progress-line {
        position: absolute;
        left: 30px;
        top: 10px;
        bottom: -0.6rem;
        border-left: 2px dotted rgba(var(--webex-primary-color2-rgb), 0.3);
        @media screen and (max-width: 425px) {
          left: 0;
        }
        .v-line {
          width: 3px;
          top: 0;
          left: -2px;
          position: absolute;
          bottom: 0;
          height: 0;
          background: var(--webex-secondary-color);
        }
      }
    }
  }
}
