/*===== Start Feature Box Style3 =====*/
.feature-box-block-style_3 {
  position: relative;
  @include transition(all 300ms ease);
  .feature-box-inner {
    &:hover,
    &.active {
      .feature-box-content {
        padding-left: 100px;
        @media screen and (max-width: 1024px) {
          padding-left: 30px;
        }
        .counting {
          transform: scale(1);
        }
      }
      .feature-box-thumb {
        transform: scaleY(1);
      }
    }
    .feature-box-content {
      position: relative;
      background: var(--bg-white);
      border-radius: 20px;
      border: 1px solid var(--theme-border-color);
      padding: 30px;
      margin-right: -3px;
      z-index: 1;
      @include transition(all 300ms ease);
      .content-area {
        max-width: 340px;
        @media screen and (max-width: 425px) {
          margin-top: 15px;
        }
      }
      .counting {
        position: absolute;
        left: 30px;
        top: 30px;
        line-height: 1;
        color: var(--text-webex-primary-color);
        border-radius: 5px;
        font-size: 48px;
        line-height: 1;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.1);
        -webkit-text-stroke-width: 1px;
        @include transition(all 300ms ease);
        transform: scale(0);
        @media screen and (max-width: 1024px) {
          position: unset;
          transform: scale(1);
        }
      }
      .feature-box-title {
        margin-bottom: 5px;
      }
      .feature-box-description {
        margin-bottom: 0;
        @media screen and (max-width: 1024px) {
          margin-bottom: 20px;
        }
      }
    }
    .feature-box-thumb {
      border-radius: 20px;
      margin-left: -3px;
      position: absolute;
      right: 30px;
      top: 50%;
      margin-top: -61px;
      @include transition(all 300ms ease);
      transform: scaleY(0);
      transform-origin: left;
      @media screen and (max-width: 768px) {
        position: unset;
        transform: scale(1);
        margin-top: 0;
      }
      img {
        width: 178px;
        height: 123px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
