.elementor-widget-feature-box-block {
  counter-reset: my-sec-counter;
}
.feature-box-inner-page-section-style1 {
  counter-reset: my-sec-counter;
}
.webex-carousel .nexsol-slider-item .feature-box-inner {
  box-shadow: none;
}
.feature-box-block-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.feature-box-block-wrapper.nexsol-slider-wrapper {
  display: block;
}
