/*===== Start Funfact Style3 =====*/
.funfact-block-style3 {
  position: relative;
  background: #333;
  padding: 55px 30px 30px 30px;
  clip-path: polygon(0% 1.25%, 38.636% 8.125%, 81.818% 17.812%, 100% 0%, 100% 100%, 0% 100%, 0% 1.25%);
  .count-box {
    .counting-number,
    .post-symbol {
      color: var(--heading-font-color);
      font-family: var(--heading-font);
      font-size: 40px;
      font-weight: 800;
      line-height: 1;
    }
  }
  .funfact-title {
    font-size: 16px;
    margin-top: 0;
    display: inline-block;
    color: var(--heading-font-color);
    margin-bottom: 0;
  }
}
