/*===== Start Funfact Style1 =====*/
.funfact-block-style1 {
  position: relative;
  .count-box {
    .counting-number,
    .post-symbol {
      color: var(--webex-primary-color);
      font-family: var(--heading-font);
      font-size: 48px;
      font-weight: bold;
      line-height: 1;
    }
  }
  .funfact-title {
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 0;
  }
  .funfact-description {
    margin-top: 5px;
  }
}
