/*===== Start Modern Feature Style1 =====*/
.modern-features-block-style1 {
  .modern-feature-inner {
    @media screen and (max-width: 1024px) {
      padding-bottom: 0;
    }
    .modern-feature-nav-part {
      position: relative;
      display: flex;
      align-items: center;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
      max-width: 380px;
      padding: 15px 0 12px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      @media screen and (max-width: 1200px) {
        max-width: 360px;
      }
      @media screen and (max-width: 1199px) {
        max-width: 380px;
      }
      @media screen and (max-width: 1024px) {
        max-width: 100%;
      }
      .modern-feature-icon {
        margin-right: 15px;
        .icon {
          i {
            font-size: 32px;
          }
        }
      }
      .title-part {
        .modern-feature-title {
          margin-bottom: 0;
          color: #888;
          -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
        }
        .modern-feature-count {
          font-size: 48px;
          position: absolute;
          top: -4px;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
          font-family: var(--heading-font);
          line-height: 1;
        }
      }
    }
    .modern-feature-content-part {
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      gap: 30px;
      max-width: 780px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: var(--default-border-radius);
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      height: 0;
      transform: scaleY(0);
      transform-origin: bottom;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      @media screen and (max-width: 1366px) {
        max-width: 780px;
      }
      @media screen and (max-width: 1200px) {
        max-width: 720px;
      }
      @media screen and (max-width: 1199px) {
        max-width: 640px;
        right: 0;
      }
      @media screen and (max-width: 1024px) {
        max-width: none;
        position: relative;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: start;
      }
      .modern-feature-thumb {
        border-radius: 10px;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        img {
          height: 520px;
          width: 630px;
          object-fit: cover;
          border-radius: 10px;
          @media screen and (max-width: 768px) {
            height: 300px;
            width: 100%;
          }
        }
      }
      .modern-feature-details-area {
        padding: 0 30px 40px 20px;
        @media screen and (max-width: 768px) {
          padding: 0 30px 25px 30px;
        }
        .modern-feature-counting {
          position: absolute;
          top: 30px;
          right: 30px;
          font-size: 64px;
          line-height: 1.3;
          font-family: var(--heading-font);
          color: #e5e5e5;
          @media screen and (max-width: 768px) {
            position: unset;
          }
        }
        .modern-feature-description {
          margin-bottom: 0;
        }
      }
    }
    &:hover {
      .modern-feature-nav-part {
        cursor: pointer;
      }
    }
  }
  .modern-feature-inner.active {
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
    .modern-feature-nav-part {
      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }
      .modern-feature-icon {
        .icon {
          i {
            color: var(--heading-font-color);
          }
        }
      }
      .title-part {
        .modern-feature-title {
          color: var(--heading-font-color);
        }
        .modern-feature-count {
          -webkit-text-stroke-color: var(--text-webex-primary-color);
        }
      }
    }
    .modern-feature-content-part {
      opacity: 1;
      height: auto;
      visibility: visible;
      transform: scaleY(1);
      background: var(--bg-white);
      @media screen and (max-width: 1024px) {
        margin-top: 0;
      }
    }
  }
}
