.testimonial-section {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background: var(--webex-secondary-color);
    height: 100%;
    width: 645px;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.85;
    @media screen and (max-width: 1024px) {
      width: 280px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &:after {
    background: url(../images/bg/2.jpg);
    background-size: cover;
    content: "";
    height: 100%;
    width: 645px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    @media screen and (max-width: 1024px) {
      width: 280px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
.testimonial-section2 {
  position: relative;
  &:after {
    background: url(../images/bg/2.jpg);
    background-size: cover;
    content: "";
    height: 110%;
    width: 865px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    @media screen and (max-width: 1024px) {
      width: 290px;
      opacity: 0.1;
      height: 100%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
.testimonial-block-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.testimonial-block-wrapper.nexsol-slider-wrapper {
  display: block;
}
.side-effect {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(-90deg, #ffffff, #ffffff82);
    right: -10px;
    top: 0;
    width: 110px;
    height: 100%;
    z-index: 1;
  }
}
//Testimonial Ratings
.testimonial-block {
  .star-rating {
    position: relative;
    z-index: 1;
    i {
      display: inline-block;
      position: relative;
      margin-right: 2px;
      margin-right: 2px;
      font-style: normal;
      font-family: "webexbaseicon";
      font-size: 15px;
      color: #ccd6df;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.webexbase-icon-star-1 {
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &::before {
          display: none;
        }
      }
      &::before {
        content: "\e907";
        display: block;
        font-size: inherit;
        font-family: inherit;
        position: absolute;
        overflow: hidden;
        color: #f0ad4e;
        top: 0;
        left: 0;
      }
      &.star-1::before {
        width: 10%;
      }
      &.star-2::before {
        width: 20%;
      }
      &.star-3::before {
        width: 30%;
      }
      &.star-4::before {
        width: 40%;
      }
      &.star-5::before {
        width: 50%;
      }
      &.star-6::before {
        width: 60%;
      }
      &.star-7::before {
        width: 70%;
      }
      &.star-8::before {
        width: 80%;
      }
      &.star-9::before {
        width: 90%;
      }
    }
  }
}
