/*===== Start Testimonial Style2 =====*/
.testimonial-block-style_2 {
  position: relative;
  @include transition(all 400ms ease);
  .testimonial-inner {
    display: flex;
    gap: 60px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
    }
    .testimonial-thumb {
      border-radius: 10px;
      flex-shrink: 0;
      img {
        border-radius: 10px;
      }
    }
    .testimonial-info {
      .testimonial-quote-icon {
        color: #fff;
        font-size: 90px;
        line-height: 1;
        opacity: 0.1;
        margin-bottom: 30px;
        display: block;
      }
      .testimonial-content {
        .comments {
          position: relative;
          font-size: 30px;
          line-height: 1.4;
          color: #fff;
          margin-bottom: 25px;
          @media screen and (max-width: 425px) {
            font-size: 24px;
          }
        }
        .testimonial-rating-part {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .testimonial-title-area {
        display: flex;
        align-items: center;
        gap: 10px;
        .testimonial-title {
          font-size: 24px;
          line-height: 1.4;
          margin-bottom: 5px;
          color: #fff;
          @media screen and (max-width: 425px) {
            font-size: 18px;
          }
        }
        .testimonial-subtitle {
          font-size: 16px;
          color: #d9d9d9;
          letter-spacing: 0px;
          font-weight: 400;
          margin-bottom: 0;
          font-family: var(--body-font);
        }
      }
    }
  }
}

.testimonial-carousel-style_2 {
  .owl-carousel {
    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
      @media screen and (max-width: 1024px) {
        display: none;
      }
      height: 65px;
      width: 65px;
      top: auto;
      bottom: 0;
      background: var(--webex-primary-color2);
      border: 1px solid rgba(var(--bg-white-rgb), 0.2);
      border-radius: 50%;
      i {
        color: var(--text-webex-primary-color2);
      }
      &:hover {
        background: var(--webex-primary-color);
        color: var(--text-webex-primary-color);
        i {
          color: var(--text-webex-primary-color);
        }
      }
    }
    .owl-nav button.owl-next {
      left: 47%;
      right: auto;
      @media screen and (max-width: 1200px) {
        left: 52%;
        right: auto;
      }
    }
    .owl-nav button.owl-prev {
      left: 41%;
      right: auto;
      @media screen and (max-width: 1200px) {
        left: 45%;
        right: auto;
      }
    }
  }
}
