/*========================================*/
/*-------------- [_Footer] ---------------*/
/*========================================*/
.footer {
  .footer-main-area {
    position: relative;
    z-index: 0;
    &:after {
      position: absolute;
      content: "";
      background-color: var(--webex-secondary-color2);
      height: 100%;
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}
.footer,
.footer a {
  color: var(--footer-text-color);
}
.footer-logo1 {
  width: 184px;
}
.footer-main-area {
  padding: 110px 0 0;
}
.footer-copyright-area {
  background: #252525;
}
.footer-border-top {
  border-top: 1px solid #18143d;
}
.footer-border-bottom {
  border-bottom: 1px solid #303b58;
}
.footer-widget {
  margin-bottom: 40px;
  display: block;
  .social-list {
    li {
      a {
        background: #303441;
      }
    }
  }
}

.footer-widget {
  &.widget_nav_menu {
    ul {
      li {
        display: inherit;
        margin-bottom: 10px;
        a {
          position: relative;
          padding-left: 30px;
          @include transition(all 300ms ease);
          &:before {
            position: absolute;
            content: "\e923";
            left: 0px;
            top: -3px;
            font-family: "webexbaseicon";
            font-weight: 600;
            color: var(--webex-primary-color);
          }
          &:hover {
            color: #fff;
            padding-left: 35px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.footer-contact-info {
  display: flex;
  align-items: center;
  .contact-info-icon {
    i {
      &:before {
        font-size: 28px;
        background: var(--webex-primary-color);
        color: #fff;
        border-radius: 6px;
        height: 54px;
        width: 54px;
        display: inline-block;
        text-align: center;
        line-height: 54px;
      }
    }
  }
  .contact-info-text {
    margin-left: 20px;
  }
}
//Footer Menus
.webex_footer-menu {
  .footer-nav-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding: 5px 0;
      position: relative;
      transition: 300ms;
      &:hover {
        padding-left: 20px;
        &:after {
          width: 15px;
        }
      }
      &:first-child {
        padding-top: 0;
      }
      a {
        color: var(--body-font-color);
      }
      &:after {
        position: absolute;
        content: "";
        background: var(--webex-primary-color);
        height: 1px;
        width: 0;
        left: 0;
        top: 50%;
        transform: translateY(-1px);
        transition: 300ms;
      }
    }
  }
}
.footer-default .copyright_bottom {
  padding: 15px;
  text-align: center;
}
