/* ================================================
  NEXSOL MEGA MENU
================================================ */

.nexsol-mega-menu-item {
  position: static !important;
  overflow: visible !important;
}

.nexsol-mega-menu-container {
  position: absolute !important;
  top: 100%;
  left: 50% !important;
  /* Always force true screen center */
  transform: translateX(-42%) translateY(25px) !important;
  @media screen and (max-width: 1366px) {
    transform: translateX(-45%) translateY(0px) !important;
  }
  @media screen and (max-width: 1200px) {
    transform: translateX(-50%) translateY(0px) !important;
  }
  width: 100vw !important;
  max-width: 100vw !important;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.35s ease;
  z-index: 99999;
}

.nexsol-mega-inner {
  max-width: 1340px;
  margin: 0px auto;
  @media screen and (max-width: 1366px) {
    max-width: 1140px;
  }
}

.nexsol-mega-menu-item:hover > .nexsol-mega-menu-container {
  opacity: 1;
  visibility: visible;
  transform: translateX(-42%) translateY(0px) !important;
  @media screen and (max-width: 1366px) {
    transform: translateX(-45%) translateY(0px) !important;
  }
  @media screen and (max-width: 1200px) {
    transform: translateX(-50%) translateY(0px) !important;
  }
  pointer-events: auto;
}

.nexsol-mega-menu-container .elementor-section {
  padding: 0 !important;
  margin: 0 !important;
}

.nexsol-mega-menu-item {
  .sub-menu {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
}
