/*========================================*/
/*------------ [_Unit_Test] --------------*/
/*========================================*/
.page-builder-deactivate .webex-page-content-area {
  padding: 110px 0;
}
.wp-block-code {
  border: 1px solid var(--theme-border-color);
  border-radius: var(--default-border-radius);
}
pre {
  display: block;
  font-size: 87.5%;
  color: var(--body-font-color);
  border: 1px solid var(--theme-widget-border-color);
  padding: 30px;
  background: var(--bg-silver);
  border-radius: var(--default-border-radius);
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 20px 0;
}
.wp-block-table td,
.wp-block-table th {
  border: 1px solid var(--theme-border-color);
}
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: var(--bg-silver);
}
.wp-block-table.is-style-stripes {
  border-color: var(--theme-border-color);
}
.news__details-content ol li > ol,
.news__details-content ol li > ul,
.news__details-content ul li > ol,
.news__details-content ul li > ul {
  margin-top: 10px;
  margin-bottom: 0;
}
.news__details-content ol li:not(:last-child),
.news__details-content ul li:not(:last-child) {
  margin-bottom: 10px;
}
li.post-cat a {
  display: inline-block;
  margin-left: 5px;
}
li.post-cat a:nth-child(2) {
  margin-left: 0;
}
.wp-block-group.has-background {
  margin-bottom: 30px;
  padding: 30px;
}
/*Block Button*/
.wp-block-button {
  margin: 10px 0px;
  &.alignleft {
    margin-right: 20px;
  }
  &.is-style-outline {
    .wp-block-button__link {
      border-style: dashed;
    }
  }
  &.is-style-squared {
    .wp-block-button__link {
      border-radius: 5px;
    }
  }
  &.alignleft {
    margin-right: 20px;
  }
}
.postbox__text p.has-large-font-size {
  font-size: 24px !important;
  line-height: 1.2;
  margin-bottom: 10px;
}
.postbox__details p:last-child {
  margin-bottom: 0;
}
.wp-block-media-text.alignfull.has-media-on-the-right.has-background.is-stacked-on-mobile {
  margin-bottom: 20px;
}
.postbox__text p.has-large-font-size {
  font-size: 24px !important;
  line-height: 1.2;
  margin-bottom: 10px;
}
.postbox__details p:last-child {
  margin-bottom: 0;
}
//Pagination News Widget
.news-block-wrapper .pagination-list {
  padding-left: 0;
  grid-column: 1/-1;
  justify-content: start;
  display: flex;
  margin-top: 30px;
}
//Pagination Default News
.pagination-list {
  padding-left: 0;
  grid-column: 1/-1;
  justify-content: start;
  display: flex;
  li {
    text-align: center;
    margin-right: 8px;
    display: inline;
    &:last-child {
      margin-right: 0;
    }
    > .page-numbers {
      background: var(--bg-silver);
      color: var(--heading-font-color);
      font-weight: 500;
      height: 54px;
      width: 54px;
      line-height: 54px;
      display: inline-block;
      position: relative;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid var(--theme-border-color);
      &.current {
        border: 1px solid transparent;
        background: var(--webex-primary-color);
        color: var(--text-webex-primary-color);
      }
    }
    &:hover {
      .page-numbers {
        border: 1px solid transparent;
        background: var(--webex-primary-color);
        color: var(--text-webex-primary-color);
      }
    }
    &.active {
      .page-numbers {
        border: 1px solid transparent;
        background: var(--webex-primary-color);
        color: var(--text-webex-primary-color);
      }
    }
  }
}
.screen-reader-text {
  display: none;
}
//Percentage
.percentage {
  font-size: 12px;
  float: right;
}
//Single Post Navigation
.single-post-navigation {
  .navigation-links {
    a {
      font-weight: 500;
      @include transition(all 300ms ease-out 0s);
    }
    .nav-next {
      a {
        i {
          @include transition(all 300ms ease-out 0s);
          margin-right: 10px;
        }
        &:hover {
          i {
            margin-right: 6px;
          }
        }
      }
    }
    .nav-previous {
      a {
        i {
          @include transition(all 300ms ease-out 0s);
          margin-left: 8px;
        }
        &:hover {
          i {
            margin-left: 3px;
          }
        }
      }
    }
  }
}
//Page-Links
.page-links {
  clear: left;
  .post-page-numbers {
    border: 1px solid;
    border-radius: 2px;
    display: inline-block;
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    margin-top: 20px;
    margin-right: 10px;
    color: var(--body-font-color);
    background: var(--bg-silver);
    border-color: var(--theme-border-color);
    &:hover,
    &:focus,
    &.current {
      background-color: var(--webex-primary-color);
      border-color: var(--webex-primary-color);
      color: var(--text-webex-primary-color);
    }
  }
  & > .page-links-title {
    border: 0;
    color: var(--body-font-color);
    height: auto;
    margin: 0;
    padding-right: 0.6153846154em;
    width: auto;
  }
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }
}
//Sidbebar Newsletter Form
.comments-area {
  .reply-form {
    form {
      .form-group {
        margin-bottom: 20px;
      }
      .form-submit {
        margin-top: 30px;
      }
    }
  }
}
.comments-area h1,
.news__details-content h1,
.comment-content h2,
.news__details-content h2,
.comment-content h3,
.news__details-content h3,
.comment-content h4,
.news__details-content h4,
.comment-content h5,
.news__details-content h5,
.comment-content h6,
.news__details-content h6 {
  margin-bottom: 1rem;
}
.single-post .entry-content.item-content blockquote {
  background-color: var(--widget-content-bg-color);
  border-radius: var(--default-border-radius);
  box-shadow: none;
}
blockquote {
  position: relative;
  z-index: 1;
  border: none;
  font-size: 20px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  line-height: 36px;
  background: var(--bg-silver);
  border-radius: var(--default-border-radius);
  padding: 40px !important;
  font-style: italic;
}
.wp-block-pullquote {
  border: none;
  margin: 0;
  padding: 30px 0;
  padding-top: 10px;
  p {
    font-size: 24px;
  }
  cite {
    font-weight: 500;
    font-size: 16px;
    color: var(--webex-primary-color);
    text-transform: capitalize;
  }
}
.wp-block-table tfoot,
.wp-block-table thead {
  border-color: var(--theme-widget-border-color);
}
.wp-block-pullquote:not(.is-style-solid-color) {
  background: none;
  padding: 0;
  blockquote {
    border: 1px solid var(--theme-widget-border-color);
  }
}
.news__details-content ul:not(:first-child) {
  padding-left: 18px;
}
blockquote:after {
  content: "\e811";
  font-family: "webexbaseicon";
  position: absolute;
  font-size: 60px;
  opacity: 0.2;
  bottom: 36px;
  right: 3.125rem;
  z-index: 1;
  font-style: normal;
}
.wp-block-quote {
  box-sizing: border-box;
  overflow-wrap: break-word;
  border-color: var(--theme-border-color);
}
blockquote cite {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  color: var(--webex-primary-color);
  font-style: inherit;
  font-weight: 500;
}
.alignleft,
img.alignleft {
  margin-right: 2.2em;
  margin-bottom: 1em;
  display: inline;
  float: left;
}
.wp-block-cover {
  margin-bottom: 30px;
  &.has-background-dim {
    color: #fff;
  }
}
.wp-block-gallery:not(.has-nested-images) {
  margin-bottom: 30px;
}
.wp-block-gallery:not(.has-nested-images).alignleft {
  margin-right: 30px;
}
.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}
.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}
.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}
.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.gallery-caption {
  display: block;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.news__details-content {
  ul {
    li {
      a {
        color: inherit;
        transition: all 500ms ease;
      }
    }
  }
}
.wp-block-archives-list li,
.wp-block-categories-list li,
.wp-block-latest-posts li,
.wp-block-page-list li,
.wp-block-rss li,
.sidebar .widget.widget_archive li {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // position: relative;
  a {
    color: inherit;
    transition: all 500ms ease;
  }
}
.wp-block-archives.wp-block-archives-list,
.wp-block-latest-posts,
.wp-block-page-list,
.wp-block-rss,
.wp-block-social-links,
.wp-block-categories-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  li {
    padding: 5px 0;
  }
}
.textwidget img {
  max-width: 100%;
  height: auto;
}
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  clear: both;
}

/*table */
.postbox__details table {
  margin-bottom: 30px;
  width: 100%;
}
.postbox__details table,
.postbox__details th,
.postbox__details td {
  border: 1px solid #d1d1d1;
}
.postbox__details table th {
  padding: 12px 12px;
  font-size: 15px;
  border-color: #ddd;
  text-align: center;
  font-weight: 400;
}
.postbox__details table tbody td {
  text-align: center;
}
.postbox__details table a {
  color: #171717;
}
.postbox__details table td {
  border-color: #ddd;
  padding: 12px 12px;
}
.postbox__details .comments-text table {
  margin-bottom: 30px;
  width: 100%;
  background: var(--bg-white);
}
.wp-block-categories-dropdown .nice-select,
.wp-block-archives-dropdown .nice-select {
  background-color: var(--bg-silver);
  border: 1px solid var(--theme-widget-border-color);
  border-radius: var(--default-border-radius);
  height: 56px;
  width: 100%;
  line-height: 54px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 30px;
  z-index: 2;
  .list {
    overflow-y: scroll;
    max-height: 360px;
    width: auto;
    border: 1px solid var(--theme-widget-border-color);
    padding: 0;
  }
}
.news-excerpt__text {
  word-break: break-all;
}

//Envato Theme Check Issue
.bypostauthor {
  display: block;
}
.aligncenter {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
.blog-details__content {
  font-size: 16px;
  line-height: 2;
}
dd {
  margin: 0 1em 1em;
}
.wp-block-search {
  margin-bottom: 20px;
}
.wp-block-search__button {
  width: 120px;
  height: 55px;
  background: var(--webex-primary-color);
  color: var(--text-webex-primary-color);
  border-radius: var(--default-border-radius);
  border-color: var(--webex-primary-color);
  transition: 0.3s;
}
.wp-block-search__button:hover {
  background-color: rgba(var(--webex-primary-color-rgb), 0.8);
  color: var(--text-webex-primary-color);
}
.news__details-content ul.wp-block-rss {
  padding-left: 0;
}
.wp-block-search__inside-wrapper {
  display: flex;
  flex: auto;
  flex-wrap: nowrap;
  max-width: 100%;
}
.wp-block-group.has-border-color {
  margin-top: 30px;
  margin-bottom: 30px;
}
.wp-block-group.has-border-color p,
.wp-block-group.has-background p {
  margin-bottom: 0;
}
.post .news__details-content p {
  margin-bottom: 1.25rem;
  line-height: 1.8;
}
.wp-block-calendar .wp-calendar-nav {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wp-block-calendar .wp-calendar-table thead th,
.widget_calendar .wp-calendar-table thead th {
  background-color: transparent;
  color: var(--text-webex-primary-color);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.wp-block-calendar .wp-calendar-table caption {
  padding-bottom: 0;
  line-height: 1;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
.wp-block-calendar table td {
  color: var(--body-font-color);
}
.wp-block-calendar table,
.wp-block-calendar table td,
.wp-block-calendar table th {
  border-color: var(--theme-widget-border-color);
}
.wp-block-calendar .wp-calendar-table thead,
.widget_calendar .wp-calendar-table thead {
  background-color: var(--webex-primary-color);
}
.wp-block-calendar .wp-calendar-table thead th,
.widget_calendar .wp-calendar-table thead th {
  border: 1px solid var(--theme-primary-border-color);
}
ol.wp-block-latest-comments {
  padding-left: 0;
}
.wp-block-tag-cloud {
  margin: 0;
  a {
    padding: 5px 15px;
    font-size: 14px !important;
    @include transition(all 300ms ease);
    background: var(--widget-content-bg-color);
    color: var(--body-font-color);
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 6px;
    border: 1px solid transparent;
    &:hover {
      color: #fff;
      background: var(--webex-primary-color);
    }
  }
}
.wp-block-latest-posts.wp-block-latest-posts__list {
  padding-left: 0 !important;
}
.wp-block-button:not(.wp-block-button.align-left) {
  margin-bottom: 20px;
}
.wp-block-columns {
  margin: 30px 0;
}
.wp-block-column.has-background {
  padding: 20px;
}
:where(.wp-block-columns.has-background) {
  padding: 1.25em 2.375em !important;
}
.news__details-content ol ul {
  padding-left: 15px;
}
:where(.wp-block-file__button) {
  padding: 0.5em 1em !important;
}
