/*===== Start Accordion Style1 =====*/
.faq-block-style1 {
  .accordion {
    .accordion-item {
      width: 100%;
      border: none;
      background: none;
      &:nth-child(1) {
        .accordion-body {
          display: block;
        }
      }
      &:nth-child(even) {
        .accordion-header {
          .accordion-upper-part {
            background: var(--webex-primary-color);
            .title {
              color: var(--text-webex-primary-color);
            }
            span {
              &.active-icon {
                color: var(--text-webex-primary-color);
              }
            }
          }
        }
      }
      &.active {
        .accordion-header {
          span {
            &.active-icon {
              display: block;
            }
            &.inactive-icon {
              display: none;
            }
          }
        }
        .accordion-body {
          .content-wrap {
            .water-mark-icon {
              @include transition(all 300ms ease-out 0s);
              position: absolute;
              left: 30%;
              bottom: 0;
              z-index: 0;
              i {
                font-size: 16rem;
                opacity: 0.1;
                @media screen and (max-width: 425px) {
                  font-size: 10rem;
                }
              }
            }
          }
        }
      }
      .accordion-header {
        position: relative;
        &:hover {
          cursor: pointer;
        }
        .accordion-upper-part {
          display: flex;
          align-items: center;
          padding: 20px 45px 20px 45px;
          border-radius: 8px;
          background: var(--bg-silver);
          .accordion-icon {
            font-size: 54px;
            color: var(--heading-font-color);
            margin-right: 30px;
          }
          .title {
            margin-bottom: 0;
            letter-spacing: 0;
            line-height: 1.2;
          }
        }
        span {
          position: absolute;
          right: 20px;
          top: 30px;
          @media screen and (max-width: 425px) {
            top: 30px;
            right: 15px;
          }
          height: 30px;
          width: 30px;
          color: var(--heading-font-color);
          text-align: center;
          line-height: 30px;
          font-size: 18px;
          &.active-icon {
            display: none;
          }
        }
      }
      .accordion-body {
        display: none;
        background: var(--bg-white);
        padding: 45px;
        border-radius: 8px;
        overflow: hidden;
        .content-wrap {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          @media screen and (max-width: 425px) {
            flex-direction: column-reverse;
          }
        }
        .description {
          margin: 0px;
          max-width: 300px;
          position: relative;
        }
        .accordion-thumb {
          border-radius: 8px;
          @media screen and (max-width: 425px) {
            margin-bottom: 20px;
          }
          img {
            border-radius: 8px;
            position: relative;
          }
        }
      }
    }
  }
}
