/*===== Start Modern Services Style3 =====*/
.modern-services-block-style3 {
  &:last-child {
    .services_item {
      .services_wrap {
        border-bottom: 1px solid var(--theme-border-color);
      }
    }
  }
  .services_item {
    position: relative;
    &:hover {
      .nexsol-hover-reveal-bg {
        opacity: 1;
      }
      .services_wrap {
        .services_link {
          display: flex;
          height: 110px;
          width: 110px;
          background: url(../images/objects/h3__service-star.png);
          background-repeat: no-repeat;
          background-position: center;
          justify-content: center;
          align-items: center;
          color: var(--text-webex-primary-color);
          font-size: 22px;
          transition: all 400ms ease;
          i {
            display: block;
            transition: all 400ms ease;
          }
          &:hover {
            i {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    .services_wrap {
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
      }
      position: relative;
      padding: 50px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border-top: 1px solid var(--theme-border-color);
      justify-content: space-between;
      .services_title_area {
        flex-basis: 30%;
        display: flex;
        gap: 30px;
        .services_icon {
          font-size: 64px;
          margin-top: 8px;
        }
        .modern-services-image-icon {
          margin-top: 8px;
        }
      }
      .modern_services_content {
        flex-basis: 40%;
        .list-content {
          ul {
            margin: 0;
            padding: 0;
            li {
              position: relative;
              display: flex;
              align-items: center;
              gap: 10px;
              margin-bottom: 5px;
              padding-left: 30px;
              &:after {
                content: "\e8b7";
                font-family: "webexbaseicon";
                position: absolute;
                left: 0;
                top: 0;
                color: var(--webex-primary-color);
                font-size: 14px;
                z-index: 3;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              i {
                color: var(--webex-primary-color);
              }
            }
          }
        }
      }
      .services_link {
        display: flex;
        height: 110px;
        width: 110px;
        background: url(../images/objects/h3__service-star1.png);
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: var(--heading-font-color);
        transition: all 400ms ease;
        i {
          display: block;
          transition: all 400ms ease;
        }
        &:hover {
          i {
            transform: rotate(45deg);
          }
        }
      }
    }
    .nexsol-hover-reveal-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 220px;
      height: 265px;
      opacity: 0;
      margin: -60px 0 0 -80px;
      overflow: hidden;
      pointer-events: none;
      z-index: 99;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
