.elementor-widget-services-block {
  counter-reset: my-sec-counter;
}
.services-inner-page-section-style1 {
  counter-reset: my-sec-counter;
}
.webex-carousel .windowy-slider-item .services-inner {
  box-shadow: none;
}
.services-block-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.services-block-wrapper.windowy-slider-wrapper {
  display: block;
}
.services-block-wrapper.windowy-static-wrapper {
  display: block;
}
.image-container {
  flex: 1;
  text-align: center;
  position: relative;
  height: 525px;
}
.image-container:nth-child(2) {
  margin-bottom: 0;
}
.image-container .image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s;
  opacity: 0;
  transform: rotateY(54deg);
}
.image-container .image .service-img5 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-container .image .shape {
  position: absolute;
  top: 50px;
  left: -30px;
  z-index: -1;
}
.image-container .image.active {
  opacity: 1;
  transition: all 0.5s;
  transform: rotateY(0deg);
}
.list-container {
  flex: 1;
  padding-left: 20px;
}
.list-container ul {
  list-style: none;
}
.list-container li {
  padding: 32px 0;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.list-container li .side-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .list-container li .side-heading {
    display: block;
  }
}
.list-container li .side-heading .heading-area a {
  color: var(--ztc-text-text-1);
  font-family: var(--ztc-family-font1);
  font-size: var(--ztc-font-size-font-s44);
  font-style: normal;
  font-weight: var(--ztc-weight-bold);
  line-height: 44px;
  display: inline-block;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .list-container li .side-heading .heading-area a {
    font-size: var(--ztc-font-size-font-s26);
    line-height: 32px;
  }
}
.list-container li .side-heading .heading-area p {
  color: var(--ztc-text-text-1);
  font-family: var(--ztc-family-font2);
  font-size: var(--ztc-font-size-font-s16);
  font-style: normal;
  font-weight: var(--ztc-weight-medium);
  line-height: 26px;
  opacity: 80%;
}
.list-container li .side-heading .arrow a {
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  transition: all 0.4s;
  color: var(--ztc-text-text-9);
  display: inline-block;
  border: 1px solid var(--ztc-text-text-9);
  font-size: var(--ztc-font-size-font-s32);
}
.list-container li .side-heading .arrow a svg {
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .service2-section-area .list-container li .side-heading .arrow a {
    margin-top: 20px;
  }
}
.list-container li:nth-last-child(1) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.list-container li:hover .side-heading .heading-area a {
  color: var(--ztc-text-text-9);
  transition: all 0.4s;
}
.list-container li:hover .side-heading .arrow a {
  background: var(--ztc-text-text-9);
  color: var(--ztc-text-text-4);
}
