/*========================================*/
/*---------- [_Call_To_Action] -----------*/
/*========================================*/
.call-to-action-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 75px 45px;
  background-color: var(--webex-primary-color);
  overflow: hidden;
  @media only screen and (max-width: 1024px) {
    padding: 45px 60px 45px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    flex-direction: column;
    align-items: start;
  }
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    padding: 57px 20px 57px;
    text-align: center;
  }
  &:after {
    content: "";
    background: url(../images/objects/wave2.png);
    background-size: cover;
    background-position: center left;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    filter: brightness(0.3);
    animation: heartbeat 1.5s infinite alternate;
  }
  .call-to-action-left {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .call-to-action-icon {
      @media only screen and (max-width: 425px) {
        margin-bottom: 15px;
      }
      span {
        &:before {
          font-size: 64px;
          color: #fff;
          position: relative;
          display: inline-block;
          line-height: 64px;
        }
      }
    }
    .call-to-action-content {
      position: relative;
      margin-left: 30px;
      @media only screen and (max-width: 767px) {
        margin-left: 0;
      }
      .call-to-action-sub-title {
        text-transform: uppercase;
        color: #fff;
        margin: 0;
      }
      .call-to-action-title {
        font-size: 36px;
        color: #fff;
        font-weight: 700;
        line-height: 47px;
        margin-bottom: 0;
        @media only screen and (max-width: 1024px) {
          font-size: 30px;
        }
      }
    }
  }
}
