/*========================================*/
/*---------- [_Custom_Effects] -----------*/
/*========================================*/
.shine-efffect {
  position: relative;
  overflow: hidden;
  &:before {
    position: absolute;
    top: 0;
    left: -80%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.2)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    z-index: 1;
  }
  &:hover {
    &:before {
      -webkit-animation: shine 1.3s;
      animation: shine 1.3s;
    }
  }
}

.word-line,
.skew-up-2 {
  overflow: hidden;
}
