/*========================================*/
/*-------------- [_Form] -----------------*/
/*========================================*/
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.input-text {
  padding: 12px 15px;
  border-color: var(--theme-border-color);
  background-color: var(--widget-content-bg-color);
  border-radius: var(--default-border-radius);
  color: var(--body-font-color);
  height: 56px;
  border-width: 1px;
  border-style: solid;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-weight: normal;
  outline: 0;
  transition: all ease-in-out 0.3s;
  font-size: 1em;
  &::placeholder {
    color: var(--form-placeholder-color) !important;
  }
  &::-webkit-input-placeholder {
    color: var(--form-placeholder-color) !important;
  }
  &:-moz-placeholder {
    color: var(--form-placeholder-color) !important;
  }
  &:-ms-input-placeholder {
    color: var(--form-placeholder-color) !important;
  }
}
.form-control {
  box-shadow: none;
  outline: none;
  border: 1px solid var(--theme-border-color);
  background: var(--bg-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--body-font);
  color: var(--webex-secondary-color);
  height: auto;
  padding: 25px 20px;
  resize: none;
  min-width: 100%;
  height: 56px;
  border-radius: 0px;
  margin-bottom: 20px;
}
textarea {
  background: var(--bg-silver);
  border: 1px solid var(--theme-border-color);
  color: var(--body-font-color);
  width: 100%;
  height: auto;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  text-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
  @include transition(all 400ms ease-out 0s);
}
textarea.form-control {
  min-height: 215px;
}
.form-control:focus {
  border-color: var(--webex-primary-color);
  background-color: var(--bg-white);
}
.contact-form textarea {
  display: inline-block;
  min-height: 190px;
}
.contact-form textarea,
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"] {
  background: var(--bg-silver);
  border: 1px solid #ece9e3;
}
.contact-form .form-control:focus {
  border-color: var(--webex-primary-color);
  box-shadow: none;
}
.contact-block {
  background: var(--bg-silver);
  padding: 30px 30px;
  border: 1px solid #ece9e3;
}
.contact-icon {
  i {
    width: 64px;
    height: 64px;
    background: var(--webex-primary-color);
    text-align: center;
    line-height: 64px;
    display: inline-block;
    border-radius: 6px;
    &:before {
      color: #fff;
      font-size: 36px;
    }
  }
}
.contact-details {
  margin-left: 30px;
}
select {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background: url(../images/down-arrow.png) no-repeat right #ddd;
  appearance: none;
  -webkit-appearance: none;
  background-position-x: 96%;
}
.custom-select-categories {
  background: var(--bg-silver);
  border: 1px solid #ece9e3;
  height: 65px;
  width: 100%;
  line-height: 65px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  border-radius: 0;
}
.contact-form .custom-select-categories {
  background: var(--bg-silver);
  border: 1px solid #ece9e3;
  height: 65px;
  width: 100%;
  line-height: 65px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  border-radius: 0;
}
//Request a Call Back Form//
.request-a-call-back-form {
  padding: 50px 50px 25px 50px;
  background-color: var(--webex-primary-color);
  position: relative;
  z-index: 1;
  background-image: url("../../assets/images/objects/h1__contact_map.png");
  background-repeat: no-repeat;
  background-position: top right;
  @media screen and (max-width: 768px) {
    padding: 45px;
    margin-right: 0;
  }
  .form-subtitle {
    font-weight: 500;
    background: var(--webex-primary-color);
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
  }
  .form-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
  }
  .form-description {
    margin-top: 0;
    margin-bottom: 35px;
    color: #fff;
  }
  textarea.form-control {
    min-height: 140px;
  }
  .form-control {
    height: 56px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .custom-select-categories {
    background-color: #fff;
    height: 65px;
    width: 100%;
    line-height: 65px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    border-radius: 0;
  }
  .nice-select {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    box-shadow: none;
  }
  .btn-dark {
    &:hover {
      background-color: #fff;
      color: var(--webex-primary-color);
      border: 1px solid transparent;
    }
  }
}
//Request a Call Back Form Style2//
.request-a-call-back-form-style2 {
  padding: 54px 60px 30px 60px;
  @include box-shadow(0 0 20px 0px rgba(38, 37, 37, 0.1));
  background-color: #fff;
  position: relative;
  background-image: url(../images/objects/quick-from-bg01.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  z-index: 1;
  @media screen and (max-width: 768px) {
    padding: 45px;
  }
  .form-subtitle {
    font-weight: 500;
    color: var(--webex-primary-color);
    margin-bottom: 5px;
  }
  .form-title {
    margin-top: 0;
    margin-bottom: 40px;
  }
  textarea {
    &.form-control {
      min-height: 95px;
    }
  }
  .form-control {
    height: 56px;
    padding: 10px 20px;
  }
  .custom-select-categories {
    background-color: #fff;
    height: 56px;
    width: 100%;
    line-height: 54px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    border-radius: 0;
  }
  .nice-select {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    box-shadow: none;
  }
}

//Request a Call Back Form Style2//
.request-a-call-back-form-style3 {
  padding: 45px 45px 45px 45px;
  @include box-shadow(-5px -1px 15px 10px rgba(38, 37, 37, 0.1));
  position: relative;
  border-radius: 8px;
  background: #fff;
  margin-left: -200px;
  @media screen and (max-width: 1024px) {
    margin-left: -450px;
  }
  @media screen and (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }
  width: 460px;
  float: left;
  margin-right: 30px;
  .form-control {
    height: 56px;
    padding: 10px 20px;
  }
  .custom-select-categories {
    background-color: #fff;
    color: #404653;
    height: 70px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 15px;
    border: 1px solid #dfdce6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: none;
  }
  .nice-select {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    box-shadow: none;
  }
}
.rcbf-img {
  img {
    width: 328px;
    float: left;
    border-radius: 8px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

//Request a Call Back Form Sidebar//
.request-a-call-back-form.sidebar {
  background: var(--webex-secondary-color);
  padding: 30px;
}

//Request a Call Back Form Vertical Two//
.request-a-call-back-form-vertical-two {
  background-color: #fff;
  padding: 60px;
  @media screen and (max-width: 425px) {
    padding: 30px;
  }
  border-radius: 8px;
  background-image: url(../images/bg/abs-bg2.png);
  box-shadow: var(--box-shadow);
  .form-control {
    height: 54px;
    line-height: 1.3;
    border-radius: 0;
    font-size: 16px;
    color: #243b60;
    &:focus {
      border-color: var(--webex-primary-color);
    }
  }
  .custom-select-categories {
    background-color: #fff;
    color: #243b60;
    height: 54px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 15px;
    border: 1px solid #dfdce6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: none;
    line-height: 1.3;
  }
}

.request-a-call-back-form.form-control {
  margin-bottom: 20px;
}

// Google Map
.google-map {
  height: 440px;
}
.google-map.map-full-height {
  height: 100%;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}
.mapouter.fixed-height {
  height: 440px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: auto;
}
.mapouter iframe {
  width: 100%;
  height: 100%;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: var(--webex-primary-color);
}
.nice-select .option.selected {
  font-weight: 500;
}
.nice-select .list {
  width: 100%;
  background: var(--bg-white);
  border: 1px solid var(--theme-widget-border-color);
  border-radius: var(--default-border-radius);
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: var(--bg-silver);
}
.nice-select:after {
  height: 8px;
  width: 8px;
  right: 20px;
}

//Get a Quote
.get-a-quote-section {
  position: relative;
  &:after {
    background: url(../images/bg/6.jpg);
    content: "";
    height: 110%;
    width: 865px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    @media screen and (max-width: 1024px) {
      width: 290px;
      opacity: 0.1;
      height: 100%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
//Footer Newsletter Form Elementor
.newsletter-from-wrapper {
  .widget-title {
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    &:after {
      position: absolute;
      content: "";
      height: 4px;
      width: 58px;
      left: 0;
      bottom: -15px;
      background: var(--webex-primary-color);
      border-radius: 6px;
    }
  }
  .newsletter-from {
    position: relative;
    .email {
      display: flex;
      align-items: center;
      width: 100%;
      input[type="email"] {
        width: 100%;
        background: #303441;
        color: #fff;
        padding: 15px 20px;
        font-family: var(--body-font);
        border-bottom: 1px solid var(--webex-primary-color);
        letter-spacing: 0.5px;
        border-right: 0;
        border-left: 0;
        border-top: 0;
      }
    }
    .submit {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0px, -50%);
      line-height: 1;
      button {
        color: var(--webex-primary-color);
        padding: 10px 0;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}

//Footer Newsletter Form
.footer-widget {
  .newsletter-from {
    position: relative;
    .email {
      display: flex;
      align-items: center;
      width: 100%;
      input[type="email"] {
        width: 100%;
        background: var(--webex-secondary-color2);
        color: #fff;
        padding: 15px 20px;
        font-family: var(--body-font);
        border-bottom: 1px solid var(--webex-primary-color);
        letter-spacing: 0.5px;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        border-radius: 8px;
        &::placeholder {
          color: var(--text-light-gray) !important;
        }
        &:-ms-input-placeholder {
          color: var(--text-light-gray) !important;
        }
        &::-ms-input-placeholder {
          color: var(--text-light-gray) !important;
        }
      }
    }
    .submit {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0px, -50%);
      line-height: 1;
      button {
        color: var(--webex-primary-color);
        padding: 10px 0;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}

//Sidbebar Newsletter Form
.blog-sidebar-widget {
  .newsletter-from {
    position: relative;
    overflow: hidden;
    input[type="email"] {
      height: 54px;
      line-height: 54px;
      padding: 8px 15px;
      width: 100%;
      border: 1px solid #e8e9ef;
    }
    [type="submit"]:not(:disabled) {
      padding: 12px 15px;
      position: absolute;
      line-height: 2;
      right: 0;
      top: 0;
      background: var(--webex-primary-color);
      color: #fff;
      border: 1px solid var(--webex-primary-color);
      @include transition(all 300ms ease-in-out);
    }
  }
}

.blur-effect1 .webex-form.request-a-call-back-form {
  backdrop-filter: blur(5px);
}
.newsletter-from p {
  display: none;
}
.home3-banner-input-label {
  font-size: 14px;
  line-height: 1.3;
  color: #a9a9a9;
}

.home3_banner_form {
  form {
    .nice-select:after {
      right: 8px;
      border-color: #000;
    }
  }
}
