/*========================================*/
/*---------------- [_Icon_Box] -----------*/
/*========================================*/

.icon-box-item {
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .featured-icon {
    @include transition(all 300ms ease-out 0s);
  }
}
.icon-box-item {
  @include transition(all 300ms ease-out 0s);
}
.icon-box-style1 {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  &.icon-pos-center {
    flex-direction: column;
    &.center {
      align-items: center;
    }
    &.left {
      align-items: flex-start;
    }
    &.right {
      align-items: flex-end;
    }
  }
  &.icon-pos-right {
    flex-direction: row-reverse;
  }
  &.icon-v-pos-top {
    align-items: flex-start;
  }
  &.icon-v-pos-bottom {
    align-items: flex-end;
  }
  .featured-icon {
    background: var(--webex-primary-color);
    border-radius: 8px;
    line-height: 1;
    text-align: center;
    padding: 20px;
    i {
      font-size: 45px;
      line-height: 1;
      color: #fff;
      display: block;
      position: relative;
      width: 1em;
      height: 1em;
    }
  }
  .icon-details {
    .icon-box-title {
      margin-bottom: 10px;
    }
    .icon-box-desc {
      margin-bottom: 0;
    }
  }
}

.icon-box-style2 {
  display: flex;
  align-items: center;
  gap: 25px;
  &.icon-pos-center {
    flex-direction: column;
    text-align: center;
    &.center {
      align-items: center;
    }
    &.left {
      align-items: flex-start;
    }
    &.right {
      align-items: flex-end;
    }
  }
  &.icon-pos-right {
    flex-direction: row-reverse;
    text-align: right;
  }
  &.icon-v-pos-top {
    align-items: flex-start;
  }
  &.icon-v-pos-bottom {
    align-items: flex-end;
  }
  .featured-icon {
    background: var(--webex-primary-color);
    border-radius: 8px;
    line-height: 1;
    text-align: center;
    padding: 20px;
    i {
      font-size: 45px;
      line-height: 1;
      color: #fff;
      display: block;
      position: relative;
      width: 1em;
      height: 1em;
    }
  }
  .icon-details {
    .icon-box-title {
      margin-bottom: 10px;
    }
    .icon-box-desc {
      margin-bottom: 0;
    }
  }
}
.icon-box-style1.icon-pos-center.icon-h-pos-left {
  align-items: start;
}
.icon-box-style1.icon-pos-center.icon-h-pos-center {
  align-items: center;
}
.icon-box-style1.icon-pos-center.icon-h-pos-right {
  align-items: end;
}
