/*========================================*/
/*--------------- [_Info_Box] ------------*/
/*========================================*/

.info-box-style1 {
	margin-bottom: 30px;
	.info-box-title {
		color: #fff;
		margin-bottom: 10px;
	}
	.info-box-desc {
		color: var(--text-light-gray);
	}
}
