/*========================================*/
/*------------ [_List_icon] --------------*/
/*========================================*/

.list-icon-block {
  .list-icon-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &.inline-style {
      flex-direction: row;
      @media screen and (max-width: 425px) {
        flex-direction: column;
        gap: 20px !important;
        align-items: center;
      }
    }
    .list-icon-item {
      list-style: none;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      line-height: 1.6;
      gap: 15px;
      &:first-child {
        padding-left: 0;
      }
      .list-icon {
        background: var(--webex-primary-color);
        color: var(--text-webex-primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 50%;
        font-size: 12px;
        height: 16px;
        width: 16px;
        margin-top: 6px;
      }
      a {
        display: flex;
        gap: 15px;
        align-items: center;
      }
      span {
        line-height: 1.6;
      }
      .list-icon-text {
        color: var(--body-font-color);
      }
    }
  }
}

.nexsol-list {
  .list-icon-block .list-icon-items .list-icon-item .list-icon {
    background: var(--webex-primary-color3);
    font-size: 12px;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 0 5px;
    box-shadow: 2px 2px 0 0 #000;
    margin-top: 0;
  }
  .list-icon-text {
    color: var(--heading-font-color);
  }
}
