/*========================================*/
/*------------- [_Moving_Text] ----------*/
/*========================================*/

.moving-text-block {
  position: relative;
  display: block;
  z-index: 3;
  .moving-text-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    .moving-text-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      animation: scroll 60s linear infinite;
      > * {
        margin: 0 10px;
      }
      .moving-text-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 84px;
        line-height: 84px;
        font-weight: 800;
        letter-spacing: 0.02em;
        color: transparent;
        -webkit-text-stroke: 1px #eee;
        text-align: center;
        font-family: var(--body-font);
        padding: 0 60px;
        a {
          color: transparent;
          -webkit-text-stroke: 1px #212429;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          &:hover {
            color: transparent;
            -webkit-text-stroke: 1px var(--webex-primary-color);
          }
        }
        span {
          position: relative;
          display: inline-block;
          margin-left: 20px;
          margin-right: 15px;
        }
      }
      .moving-text-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 42px;
        animation: fullSpin 20s linear infinite;
        color: transparent;
        -webkit-text-stroke: 1px #eee;
      }
    }
    &.marquee_right_active {
      transform: scaleX(-1);
      .moving-text-item {
        transform: scaleX(-1);
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .moving-text-list {
    animation-play-state: play;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 0px));
  }
}
