/*========================================*/
/*-------------- [_Newsletter] -----------*/
/*========================================*/
.newsletter-from {
  &.default_btn {
    .newsletter-wrapp {
      display: flex;
      gap: 10px;
      .icon-btn {
        display: none;
      }
      input[type="email"] {
        width: 100%;
        padding: 14px 30px;
        letter-spacing: 0.5px;
        font-size: 14px;
        border-radius: 8px;
        background: var(--webex-primary-color2);
        color: var(--text-webex-primary-color2);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        @include transition(all 300ms ease-out 0s);
        &:focus {
          border-color: var(--webex-primary-color);
        }
        &::placeholder {
          color: #fff !important;
        }
      }
      .text-btn {
        background: var(--webex-primary-color);
        color: var(--text-webex-primary-color);
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 5px;
        line-height: 1;
        padding: 20px 30px;
        border-radius: 5px;
        flex-shrink: 0;
        @include transition(all 300ms ease-out 0s);
        &:hover {
          background: var(--webex-primary-color);
        }
      }
    }
  }
  &.float_btn {
    .text-btn {
      display: none;
    }
    input[type="email"] {
      width: 100%;
      padding: 14px 30px;
      letter-spacing: 0.5px;
      font-size: 14px;
      border-radius: 8px;
      background: transparent;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 30px;
      @include transition(all 300ms ease-out 0s);
      &:focus {
        border-color: var(--webex-primary-color);
      }
      &::placeholder {
        color: #fff !important;
      }
    }
    .icon-btn {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translate(0px, -50%);
      border-radius: 8px;
      background: transparent;
      color: var(--webex-primary-color);
      font-size: 16px;
      line-height: 1;
      padding: 15px 16px;
      border-radius: 35px;
      @include transition(all 300ms ease-out 0s);
      &:hover {
        background: var(--webex-primary-color);
        color: var(--text-webex-primary-color);
      }
    }
  }
}
