/*========================================*/
/*---------- [_Object_Animaiton] ---------*/
/*========================================*/
.anim-object,
.anim-object2 {
  position: relative;
}
.anim-object:after {
  position: absolute;
  content: "";
  background-image: url(../images/objects/1.png);
  height: 260px;
  width: 260px;
  bottom: 5%;
  left: 10%;
  background-size: contain;
  animation-name: spinInfinit;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @media screen and (max-width: 320px) {
    height: 215px;
    width: 215px;
  }
}
.anim-object2:after {
  position: absolute;
  content: "";
  background: url(../images/objects/2.png) no-repeat;
  height: 180px;
  width: 180px;
  top: 65%;
  @media screen and (max-width: 768px) {
    height: 135px;
    width: 135px;
    top: 78%;
  }
  right: 10%;
  opacity: 0.8;
  background-size: contain;
  animation-name: spinInfinit;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.dot-circle {
  position: relative;
  &:after {
    background-image: radial-gradient(var(--webex-primary-color) 1px, #ff000000 2.2px);
    background-size: 0.7rem 0.7rem;
    position: absolute;
    left: 20px;
    content: "";
    width: 170px;
    height: 260px;
    top: 60px;
    z-index: -1;
    opacity: 0.3;
    animation: float-y-axis 4s infinite alternate;
  }
}

.service-title-section,
.testimonial-style2-section,
.funfact-section,
.testimonial-section,
.why-choose-us-style2-section,
.footer-section-obj1,
.footer-section-obj2 {
  position: relative;
  overflow: hidden;
}

.testimonial-style2-section-obj1 {
  position: absolute;
  top: 0;
  width: 85px;
  left: 100px;
  animation: float-obj-x infinite 3s;
  opacity: 0.25;
  @media screen and (max-width: 1024px) {
    opacity: 0.15;
  }
}
.funfact-section-obj1 {
  position: absolute;
  bottom: 0;
  width: 320px;
  left: 0;
  animation: float-obj-x infinite 3s;
}
.funfact-section-obj2 {
  position: absolute;
  bottom: 0;
  width: 320px;
  left: 0;
  animation: float-obj-x infinite 4s;
}
.funfact-section-obj3 {
  position: absolute;
  bottom: 0;
  width: 320px;
  right: 0;
  animation: float-obj-x infinite 3s;
}
.testimonial-section-obj1 {
  position: absolute;
  bottom: 30px;
  width: 320px;
  right: 0;
  animation: float-obj-x infinite 3s;
  @media screen and (max-width: 1024px) {
    opacity: 0.4;
  }
}
.why-choose-us-style2-obj1 {
  position: absolute;
  bottom: -43px;
  width: 320px;
  right: -40px;
  animation: float-obj-y infinite 3s;
  opacity: 0.6;
  @media screen and (max-width: 1024px) {
    opacity: 0.4;
  }
}
.why-choose-us-style2-obj2 {
  position: absolute;
  bottom: -75px;
  width: 365px;
  right: -110px;
  animation: float-obj-x infinite 4s;
  opacity: 0.7;
  @media screen and (max-width: 1024px) {
    opacity: 0.4;
  }
}
.footer-section-obj1 {
  position: absolute;
  bottom: 135px;
  width: 260px;
  height: 260px;
  right: 0;
  opacity: 0.5;
  background-image: url(../images/objects/a2.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 80s;
  z-index: -1;
  @media screen and (max-width: 425px) {
    width: 120px;
  }
}
.footer-section-obj2 {
  position: absolute;
  top: 30px;
  width: 320px;
  right: 0;
  animation: float-obj-x infinite 3s;
}
//Home Banner 03
.shape-position {
  position: relative;
  overflow: hidden;
  .shape-obj1 {
    position: absolute;
    height: 965px;
    width: 160px;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(184, 142, 117, 0.8) 100%);
    bottom: -340px;
    left: 35px;
    opacity: 0.2;
    z-index: 0;
    animation: float-obj-y2 infinite 2s;
  }
  .shape-obj2 {
    position: absolute;
    height: 965px;
    width: 160px;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(184, 142, 117, 0.8) 100%);
    bottom: -400px;
    left: 35px;
    opacity: 0.15;
    z-index: 0;
    animation: float-obj-y2 infinite 3s;
  }
}
.text-obj2 {
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    background: url(../images/objects/brush-obj2.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: -1;
    height: 100%;
    width: 245px;
    top: 0px;
    right: 0;
    opacity: 0.35;
    animation: pulse infinite 2s;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
.nexsol-animated-objects {
  .object-item {
    position: absolute;
    top: 0;
    width: 85px;
    left: 100px;
    opacity: 0.25;
    z-index: -1;
    @media screen and (max-width: 1024px) {
      opacity: 0.15;
    }
  }
}
.pulse-animation {
  animation: pulse 2s infinite;
}
.animate-icon {
  display: inline-flex;
}
/* Image Hover Animation */
.shine-effect {
  position: relative;
  overflow: hidden;
  &:hover {
    &:after {
      height: 250%;
      transition: all 600ms linear !important;
      background-color: transparent;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
  }
}
