/*========================================*/
/*----------- [_Scroll_To_Top] -----------*/
/*========================================*/
.anim-scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(var(--webex-primary-color-rgb), 0.2);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  @include transform(translateY(15px));
  @include transition(all 300ms ease-out 0s);
  &::after {
    position: absolute;
    content: "\e92d";
    font-family: "webexbaseicon";
    font-weight: 600;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    background: var(--webex-primary-color);
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 45px;
    width: 45px;
    cursor: pointer;
    display: block;
    z-index: 1;
    @include transition(all 300ms ease-out 0s);
  }
  &.active-progress {
    opacity: 1;
    visibility: visible;
    @include transform(translateY(0));
  }
  svg {
    path {
      fill: none;
    }
    &.progress-circle {
      path {
        stroke: var(--webex-primary-color);
        stroke-width: 4;
        box-sizing: border-box;
      }
    }
  }
}
