#headers {
  .custom_elementor_header {
    &.sticky_header {
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      -webkit-transform: translate(0px, -120px);
      -moz-transform: translate(0px, -120px);
      -ms-transform: translate(0px, -120px);
      transform: translate(0px, -120px);
      transition: all 0.3s linear;
      &.visible {
        opacity: 1;
        z-index: 11;
        visibility: visible;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
      }
    }
  }
}

.logged-in.admin-bar #headers .custom_elementor_header.sticky_header.visible {
  top: 30px;
}
