.nexsol-site-logo,
.main-menu-logo {
  img {
    width: 165px;
  }
}
.side-panel-content {
  .nexsol-site-logo {
    [data-layout-mood="dark"] & {
      filter: invert(1);
      mix-blend-mode: luminosity;
    }
  }
}
.nexsol-site-logo,
.main-menu-logo {
  font-family: var(--heading-font);
  font-size: 32px;
  font-weight: var(--h3-h4-font-weight);
  line-height: 1.3;
  text-transform: capitalize;
  a {
    color: var(--heading-font-color);
    &:hover {
      color: var(--webex-primary-color);
    }
  }
}
.side-panel-logo img {
  width: 165px;
}
.main-menu-logo img {
  width: 165px;
}

.logged-in.admin-bar .nexsol-header-builder,
.logged-in.admin-bar .nexsol-header-builder .sticky-header--cloned,
.logged-in.admin-bar header .main-menu.sticky-header--cloned {
  top: 30px;
}

// ======Search Popup========= //
.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99981;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  transition: visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  transition: transform 400ms ease 400ms, visibility 400ms ease 400ms;
  transition: transform 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  visibility: hidden;
}

.search-popup.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  -webkit-transition: visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
  transition: visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
  transition: transform 400ms ease 0ms, visibility 400ms ease 0ms;
  transition: transform 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
}

.search-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--webex-primary-color2);
  opacity: 0.9;
  cursor: pointer;
}

.search-popup-content {
  width: 100%;
  max-width: 560px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-130%);
  transform: translateY(-130%);
  -webkit-transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
  transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
  transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, transform 400ms ease 0ms;
  transition: opacity 400ms ease 0ms, visibility 400ms ease 0ms, transform 400ms ease 0ms, -webkit-transform 400ms ease 0ms;
}

.search-popup.active .search-popup-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
  transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, transform 400ms ease 400ms;
  transition: opacity 400ms ease 400ms, visibility 400ms ease 400ms, transform 400ms ease 400ms, -webkit-transform 400ms ease 400ms;
}

.search-popup-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  background-color: var(--bg-silver);
  overflow: hidden;
  border-radius: var(--default-border-radius);
}

.search-popup-content form input[type="search"],
.search-popup-content form input[type="text"] {
  width: 100%;
  background-color: var(--bg-silver);
  font-size: 16px;
  border: none;
  outline: none;
  height: 66px;
  padding-left: 30px;
}
.search-popup-content .search-submit i {
  font-size: 18px;
}
//For Elementor Mini Search Widget
.search-toggler {
  font-size: 24px;
  color: var(--webex-primary-color);
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    line-height: 1.6;
  }
}

//Mobile nav Toggler Elementor Widget
.mobile-nav-toggler-ele {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-end;
  span {
    width: 30px;
    height: 2px;
    border-radius: 20px;
    background-color: var(--webex-primary-color);
    &:nth-child(2) {
      width: 40px;
    }
  }
}

body.elementor-editor-active #headers {
  display: none;
}
