/*===== Start Header Default =====*/
.header-default-style {
  .main-menu {
    border-bottom: 1px solid var(--default-header-border-color);
    .container {
      @media (max-width: 991px) {
        max-width: 920px;
      }
    }
    .main-menu-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .main-menu-logo {
        padding: 24px 0;
      }
      .main-nav-menu {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        @media (min-width: 1200px) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-left: auto;
        }
        > li {
          position: relative;
          > a {
            color: var(--header-default-nav-color);
            font-weight: var(--header-default-nav-font-weight);
            -webkit-transition: all 400ms ease;
            transition: all 400ms ease;
            display: block;
            padding: 30px 0;
            font-size: var(--header-default-nav-font-size);
            font-family: var(--header-default-nav-font-family);
            border-radius: var(--default-border-radius);
          }
          &.menu-item-has-children {
            > a {
              &:after {
                content: "\e815";
                font-family: "webexbaseicon";
                font-size: 12px;
                margin-left: 5px;
              }
            }
          }
          + li {
            margin-left: 30px;
            @media (min-width: 1270px) {
              margin-left: 45px;
            }
          }
          > ul {
            left: 0;
            top: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            min-width: 220px;
            background-color: var(--header-default-bg-color);
            border-radius: var(--default-border-radius);
            border: 1px solid var(--theme-border-color);
            opacity: 0;
            visibility: hidden;
            -webkit-transition: 400ms ease;
            transition: 400ms ease;
            z-index: 99;
            -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
            transform: scaleY(0);
            transform-origin: top;
            li {
              &.menu-item-has-children {
                &.menu-item-has-children {
                  > a {
                    &:after {
                      content: "\e815";
                      font-family: "webexbaseicon";
                      font-size: 12px;
                      margin-left: 5px;
                      float: right;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
            > li {
              position: relative;
              &.current-menu-item {
                > a {
                  color: var(--webex-primary-color);
                }
              }
              > a {
                padding: 7px 20px;
                color: var(--header-default-nav-child-color);
                font-family: var(--header-default-nav-font-family);
                font-size: var(--header-default-nav-child-font-size);
                font-weight: var(--header-default-nav--child-font-weight);
                border-radius: var(--default-border-radius);
                -webkit-transition: all 400ms ease;
                transition: all 400ms ease;
                display: block;
                width: 100%;
                &:hover {
                  background-color: var(--webex-primary-color);
                  color: var(--header-default-nav-child-hover-color);
                }
              }
              > ul {
                left: 100%;
                top: 0%;
                margin: 0;
                padding: 0;
                list-style: none;
                position: absolute;
                min-width: 220px;
                background-color: var(--header-default-bg-color);
                border: 1px solid var(--theme-border-color);
                opacity: 0;
                visibility: hidden;
                -webkit-transition: 400ms ease;
                transition: 400ms ease;
                z-index: 99;
                border-radius: var(--default-border-radius);
                -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
                > li {
                  &.current-menu-item {
                    > a {
                      color: var(--webex-primary-color);
                    }
                  }
                  > ul {
                    display: none;
                  }
                  > a {
                    padding: 7px 20px;
                    color: var(--header-default-nav-child-color);
                    font-family: var(--header-default-nav-font-family);
                    font-size: var(--header-default-nav-child-font-size);
                    font-weight: var(--header-default-nav--child-font-weight);
                    border-radius: var(--default-border-radius);
                    -webkit-transition: all 400ms ease;
                    transition: all 400ms ease;
                    display: block;
                    &:hover {
                      background-color: var(--webex-primary-color);
                      color: var(--header-default-nav-child-hover-color);
                    }
                  }
                }
              }
              &:hover {
                > ul {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
          &:hover {
            > ul {
              opacity: 1;
              visibility: visible;
              transform: scaleY(1);
            }
          }
          &:hover,
          &.current_page_item {
            > a {
              color: var(--header-default-nav-hover-color);
            }
          }
        }
      }
      .main-menu-right {
        @media (min-width: 1200px) {
          display: none;
        }
        margin-left: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .mobile-nav-toggler {
          @media (min-width: 1200px) {
            display: block;
          }
          span {
            display: block;
            width: 22px;
            height: 2px;
            background-color: var(--webex-secondary-color);
            &:nth-child(2) {
              margin-top: 6px;
              margin-bottom: 6px;
            }
          }
        }
        .search-toggler {
          font-size: 24px;
          color: var(--webex-primary-color);
          padding-left: 30px;
          padding-right: 25px;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-right: 25px;
          line-height: 0;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          @media (max-width: 834px) {
            border-right: none;
            margin-right: 15px;
            padding-right: 0;
          }
          @media (max-width: 375px) {
            padding-left: 20px;
            padding-right: 0;
            margin-right: 5px;
          }
          @media (min-width: 1200px) {
            margin-left: 0;
          }
        }
        .header-contact-btn {
          display: none;
          @media (min-width: 835px) {
            display: block;
            display: inherit;
          }
        }
      }
    }
    &.sticky-header--cloned {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      background-color: var(--bg-silver);
      width: 100%;
      visibility: hidden;
      -webkit-transform: translateY(-120%);
      transform: translateY(-120%);
      -webkit-transition: visibility 400ms ease, -webkit-transform 400ms ease;
      transition: visibility 400ms ease, -webkit-transform 400ms ease;
      transition: transform 400ms ease, visibility 400ms ease;
      transition: transform 400ms ease, visibility 400ms ease, -webkit-transform 400ms ease;
      -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
      &.sticky-fixed {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
      }
      @media (max-width: 1199px) {
        display: none !important;
      }
    }
  }
}
