/*===== Start Modern Award Style1 =====*/
.modern-award-block-style1 {
  margin: 0 auto;
  &:last-child {
    .award_item {
      .award_content {
        border-bottom: 1px solid var(--theme-border-color);
      }
    }
  }
  .award_item {
    position: relative;
    &:hover {
      .nexsol-hover-reveal-bg {
        opacity: 1;
      }
    }
    .award_content {
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
      }
      position: relative;
      padding: 50px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid var(--theme-border-color);
      .award_name {
        flex-basis: 20%;
        font-size: 20px;
      }
      .award_title_area {
        flex-basis: 35%;
        .award_subtitle {
          display: inline-block;
        }
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
      .award_year {
        display: inline-block;
        flex-basis: 5%;
      }
      .award_logo {
        flex-basis: 12%;
        img {
          max-height: 32px;
        }
      }
    }
    .nexsol-hover-reveal-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 220px;
      height: 130px;
      opacity: 0;
      margin: -60px 0 0 -150px;
      overflow: hidden;
      pointer-events: none;
      z-index: 99;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
