/*===== Start Services Style2 =====*/
.services-block-style_2 {
  .services-inner {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 30px;
    z-index: 1;
    background: var(--bg-white);
    border-radius: 25px;
    border: 1px solid var(--theme-border-color);
    backdrop-filter: blur(6px);
    &:hover {
      .title-area {
        .services-icon {
          &:before {
            @include transform(scale(-1) rotate(180deg));
            display: inline-block;
          }
        }
      }
      .service-thumb {
        img {
          filter: grayscale(1);
          @include transform(scale(1.2) rotate(3deg));
        }
      }
    }
    .title-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .services-icon {
        font-size: 28px;
        color: var(--webex-primary-color);
        line-height: 1;
        border: 1px solid var(--default-border-color);
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &:before {
          @include transition(all 400ms ease-out 0s);
        }
      }
      .services-title {
        margin-bottom: 0;
      }
    }
    .service-thumb {
      margin-top: 45px;
      overflow: hidden;
      border-radius: 15px;
      img {
        border-radius: 15px;
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        @include transition(all 400ms ease-out 0s);
      }
    }
    .services-description {
      margin-top: 30px;
      margin-bottom: 0;
    }
    .services-button {
      z-index: 1;
      position: relative;
      margin-top: 30px;
      a {
        color: var(--webex-primary-color);
        position: relative;
        padding-left: 15px;
        display: inline-block;
        &:after {
          background: var(--webex-primary-color);
          position: absolute;
          content: "";
          height: 2px;
          width: 10px;
          left: 0;
          top: 15px;
          @include transition(all 400ms ease);
        }
        &:hover {
          padding-left: 45px;
          color: #fff;
          &:after {
            width: 35px;
          }
        }
      }
    }
  }
}
