/*===== Start Services Style1 =====*/
.services-block-style_1 {
  position: relative;
  .services-box-outer {
    position: relative;
    .services-inner {
      position: relative;
      display: block;
      overflow: hidden;
      z-index: 0;
      background: var(--bg-white);
      position: relative;
      -webkit-mask: url("../../assets/images/mask/h3__service-bg-mask.svg");
      mask: url("../../assets/images/mask/h3__service-bg-mask.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-position: center center;
      mask-size: 100%;
      @media screen and (max-width: 1024px) {
        mask-size: auto;
      }
      object-fit: cover;
      height: 394px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 90px;
      text-align: center;
      &::after {
        content: "";
        background: var(--webex-primary-color);
        position: absolute;
        height: 0;
        width: 100%;
        @include transition(all 0.45s ease-out 0s);
        bottom: 0;
        left: 0;
      }
      &:hover {
        &::after {
          height: 100%;
        }
        .services-icon {
          color: #fff;
        }
        .services-title {
          color: #fff;
        }
        .service-thumb {
          img {
            filter: grayscale(1);
            @include transform(scale(1.2) rotate(3deg));
          }
        }
      }
      .services-icon {
        color: var(--webex-primary-color);
        font-size: 46px;
        margin-bottom: 15px;
        position: relative;
        z-index: 1;
        @include transition(all 0.3s ease-out 0s);
      }
      .services-title {
        margin-bottom: 0;
        position: relative;
        z-index: 1;
        @include transition(all 0.3s ease-out 0s);
      }
    }
  }
}
